<p id="notice">
 <% if flash[:notice] %>
  <%= flash[:notice] %>
 <% end %>
</p>

<h1>Editing Book</h1>
<%= form_with model: @book, local:true do |f| %>
 
  <div id= error_explanation >
    <% if @book.errors.any? %>
    <h2><%= @book.errors.count %>error prohibited this book from being saved:</h2>
    <ul>
      <ui>
        <% @book.errors.full_messages.each do |message| %>
       <%= message %>
       <% end %>
        </ui>
    </ul>
    <% end %>
  </div>

 <div class="field">
  <div class=field_with_errors>
    <label for="book_title">Title</label>
   </div>
   <div class=field_with_errors>
    <%= f.text_field :title %>
   </div>
 </div>
 
 <div class="field">
  <div class=field_with_errors>
   <label for="book_body">Body</label>
  </div>
  <div class=field_with_errors>
   <%= f.text_area :body %>
  </div>
 </div>
 
 <div class="actions">
  <%= f.submit 'Update Book' %>
 </div>
<% end %>

  <%= link_to "Show" ,  (@book) %>
    <text>|</text>
  <%= link_to "Back" , "/books" %>

  